.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.create-test-container {
  display: flex;
  justify-content: space-between;
}

.creator-forms-container {
  width: 20%;
  margin: 0 30px;
}

.test-preview {
  margin: 0 50px;
  width: 70%;
}

.created-test {
  border: 1px solid grey;
}

.questions {
  display: flex;
  flex-flow: row wrap;
}

.question-multiple-choice {
  list-style: upper-alpha;
  border: 1px solid black;
  width: fit-content;
  padding: 5px;
  margin: 0 auto;
  text-align: left;
}
.remove-item {
  color: red;
  cursor: pointer;
}

.question-true-false {
  list-style: none;
  border: 1px solid black;
  width: fit-content;
  margin: 0 auto;
}

.create-question-container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  height: fit-content;
}

.create-question-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
  width: fit-content;
  margin: 20px auto;
  border: 2px solid blue;
}

.create-question-form input,
textarea,
button {
  margin: 10px;
}

.test-preview {
  margin: 0 auto;
}

.teacher-tabs {
  border: 2px solid yellow;
  width: 50%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.viewer-btn {
  border: 2px solid black;
  width: 30%;
  margin: 0 auto;
}

.test-viewer-options-btns {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  border: 2px solid blue;
}

.assign-container {
  border: 2px solid black;
  height: fit-content;
  box-shadow: black;
  width: 30%;
}
