/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Nunito', sans-serif;
  color: #252a2a;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Nunito', sans-serif;
  color: #252a2a;
}
h2 {
  font-size: 3.2vw;
}
h3 {
  font-size: 2.8vw;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
@media (max-width: 500px) {
  p {
    font-size: 2rem;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
    width: 95%;
  }
}
@media (max-width: 800px) {
  .container {
    max-width: 800px;
    width: 95%;
  }
}
.mainheader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80rem;
  width: 100%;
}
.mainheader h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25rem;
  font-size: 20rem;
  text-shadow: 2px 2px 5px #030303;
  width: 60rem;
  height: 20rem;
  color: #72C421;
}
@media (max-width: 500px) {
  .mainheader h1 {
    width: 80%;
    height: 15rem;
    margin-top: 15rem;
    margin-left: -35rem;
    background: white;
  }
}
@media (max-width: 800px) {
  .mainheader h1 {
    width: 80%;
    height: 15rem;
    margin-top: 15rem;
    margin-left: -30rem;
    background: white;
  }
}
.mainheader p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  color: #6C7A89;
}
.navarea {
  position: relative;
  display: inline-block;
}
.navarea .semicircle {
  width: 40rem;
  height: 40rem;
  background: linear-gradient(135deg, #0d1757 0%, #356aa0 52%, #356aa0 50%);
  border-bottom-right-radius: 40rem;
  box-shadow: 5px 6px 21px 1px #b0b4be;
}
@media (max-width: 500px), (max-width: 800px) {
  .navarea .semicircle {
    position: relative;
    z-index: -1;
  }
}
.navarea .menuicon {
  position: absolute;
  top: 0;
  left: 1rem;
}
.navarea .menuicon:hover #navhover {
  display: block;
}
.navarea .menuicon div {
  width: 5rem;
  height: 1rem;
  background-color: #4661B7;
  box-shadow: inset 0px 0px 64px 36px rgba(70, 97, 183, 0.26);
  margin: 6px 0;
  border-radius: 1rem;
}
@media (max-width: 500px) {
  .navarea .menuicon div {
    width: 5rem;
    height: 1rem;
    border-radius: 1rem;
  }
}
.navarea .menuicon nav {
  display: none;
  position: absolute;
  top: 5rem;
  left: 2rem;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 2rem;
}
.navarea .menuicon nav a {
  color: #252a2a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 3rem;
  border-radius: 2rem;
}
.navarea .menuicon nav a:hover {
  background-color: #DCE6FB;
}
@media (max-width: 500px) {
  .navarea .menuicon nav a {
    font-size: 3rem;
  }
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60rem;
  background: #DEE4FF;
}
@media (max-width: 500px), (max-width: 800px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.about h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 5rem;
}
@media (max-width: 500px), (max-width: 800px) {
  .about h3 {
    margin-bottom: -4.5rem;
    background: white;
    font-size: 3rem;
  }
}
.about p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: #DCE6FB;
  border-radius: 10rem;
  padding: 3rem;
  margin: 2rem 0;
  color: #6C7A89;
}
@media (max-width: 500px), (max-width: 800px) {
  .about p {
    text-align: center;
    position: relative;
    z-index: -1;
    border-radius: 5rem;
    margin-bottom: 5rem;
    padding-top: 4rem;
  }
}
.about img {
  width: 40%;
  height: auto;
  margin: 5rem;
  border-radius: 2rem;
  box-shadow: 5px 6px 21px 1px #b0b4be;
}
.users {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80rem;
  background: #A0B0D7;
  position: relative;
  z-index: -2;
}
@media (max-width: 500px) {
  .users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    width: 100%;
    margin-bottom: 5rem;
  }
}
.users .user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  width: 30%;
  height: 50rem;
}
@media (max-width: 500px) {
  .users .user {
    width: 100%;
    height: auto;
  }
}
.users .user h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -1rem;
  background: white;
  width: 50%;
  height: 3rem;
  border: 1px solid #4661B7;
  border-radius: 10rem;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .users .user h4 {
    font-size: 3rem;
    width: 60%;
    height: 6rem;
    margin-bottom: -3rem;
  }
}
.users .user p {
  position: relative;
  z-index: -1;
  background: #DCE6FB;
  padding: 2rem;
  padding-top: 2rem;
  border-radius: 2rem;
  box-shadow: 5px 6px 21px 1px #b0b4be;
}
@media (max-width: 500px) {
  .users .user p {
    text-align: center;
    padding: 3rem;
    padding-top: 5rem;
    margin-bottom: 3rem;
  }
}
.users img {
  width: 30%;
  height: auto;
  border-radius: 2rem;
  box-shadow: 5px 6px 21px 1px #b0b4be;
}
.tests {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
}
@media (max-width: 500px) {
  .tests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
.tests .test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 30%;
  height: 25rem;
}
@media (max-width: 500px) {
  .tests .test {
    width: 100%;
  }
}
.tests .test h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 92%;
  border: 1px solid #4661B7;
  border-radius: 10rem;
  width: 4rem;
  height: 4rem;
  margin-bottom: -2rem;
  background: white;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .tests .test h5 {
    margin-right: 0;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
  }
}
.tests .test p {
  position: relative;
  z-index: -1;
  background: #DCE6FB;
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 2rem;
  box-shadow: 5px 6px 21px 1px #b0b4be;
}
footer {
  width: 100%;
  height: 10rem;
  background: #2A3978;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .icons {
  margin: 1rem;
}
footer .icons img {
  margin: 1rem;
}
.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 3rem 0;
}
@media (max-width: 500px), (max-width: 800px) {
  .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.middle .developer {
  width: 40%;
}
@media (max-width: 500px), (max-width: 800px) {
  .middle .developer {
    width: 100%;
  }
}
.middle .developer h3 {
  width: 50%;
}
@media (max-width: 500px), (max-width: 800px) {
  .middle .developer h3 {
    width: 95%;
  }
}
.middle .developer p {
  width: 50%;
}
@media (max-width: 500px), (max-width: 800px) {
  .middle .developer p {
    width: 95%;
    height: auto;
    font-size: 3rem;
  }
}
.developer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.developer h3 {
  border: 1px solid #4661B7;
  border-radius: 10rem;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-align: center;
  box-shadow: 5px 6px 21px 1px #b0b4be;
}
@media (max-width: 500px), (max-width: 800px) {
  .developer h3 {
    width: 95%;
    font-size: 4rem;
    margin: 3rem;
  }
}
.developer img {
  width: 27.1rem;
  height: 27.1rem;
  border-radius: 20rem;
  margin-bottom: -13rem;
  border: 3px solid #4661B7;
}
.developer p {
  width: 20%;
  padding: 1rem;
  padding-top: 14rem;
  background: #DCE6FB;
  position: relative;
  z-index: -1;
  text-align: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: inset 0px 0px 64px 36px rgba(70, 97, 183, 0.26);
}
@media (max-width: 500px), (max-width: 800px) {
  .developer p {
    width: 95%;
    height: auto;
    border-radius: 2rem;
    font-size: 3rem;
  }
}
.headerDiv {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
}
.headerDiv .semicircle {
  width: 30rem;
  height: 30rem;
  background: linear-gradient(135deg, #0d1757 0%, #356aa0 52%, #356aa0 50%);
  border-bottom-right-radius: 40rem;
  box-shadow: 5px 6px 21px 1px #b0b4be;
  position: relative;
  z-index: -1;
}
@media (max-width: 500px), (max-width: 800px) {
}
.headerDiv .initial {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 7rem;
  text-shadow: 2px 2px 5px #030303;
  width: 30rem;
  height: 20rem;
  color: #72C421;
  border: none;
  margin: 1rem;
}
.headerDiv nav {
  width: auto;
  height: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 11rem;
  border-bottom-left-radius: 2rem;
  background: #4661B7;
}
.headerDiv nav a {
  width: 20rem;
  height: 10rem;
  text-decoration: none;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerDiv nav a:hover {
  border-bottom-left-radius: 2rem;
  background: #DCE6FB;
  color: #252a2a;
}
.headerDiv h1 {
  color: #252a2a;
  font-size: 6rem;
  margin-top: 15rem;
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px 2px #b4b4b4;
}
.headerDiv #login {
  border-radius: 0;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Nunito Black'), local('Nunito-Black'), url(https://fonts.gstatic.com/s/nunito/v11/XRXW3I6Li01BKofAtsGUYevN.ttf) format('truetype');
}
