
.initial {
    border: 1px solid black;
  }

.active{
border: 2px solid blue;
}

.headerDiv{
    border: 1px solid pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
        background-color: pink;
        width: 300px;
        display: flex;
        justify-content: space-evenly;
}
.signUpForm{
  border: 1px solid blue;
}